body{
    background-image: url("https://jolly-kalam-23776e.netlify.app/restaurantwebsite/assets/images/topography.svg")
    ,linear-gradient(110deg, #f3440e, #6d47d9);
    font-size: 1em;
}
h2{
   
    font-size: 2em;
    font-family: cursive;
}
p{
    font-size: 22px;
}
button{
    background: yellow;
    border: yellowgreen solid;
    padding: 10px 20px;
    font-style: italic;
}
#main{
    margin: 100px;
}
.section-3 h2:before{
    display: block;
    height: 10px;
    content: '';
    background: linear-gradient(to right,transparent,yellow);
    
}
.section-3 h2:after{
    display: block;
    height: 10px;
    content: '';
    background: linear-gradient(to left,transparent,yellow);
}
.section-3 h2{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-gap: 20px;
    grid-column: 1/-1;
}
.section-3{
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,2fr));
}
.section-2{
    background: white;
    padding: 50px;
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: center;
    margin-top: 23px;
}
.section{
    background-color: white;
    border: 1px white solid;
    text-align: center;
    padding: 10px;
    
}
.section p{
    background-color: white;
}
.section :first-child{
    font-size: 50px;
}
.section-1{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    margin-top: 20px;
}
.box-3{
    background: yellow;
    display: grid;
    justify-items: center;
    align-content: center;
}
.box-2{
    background: yellow;
    display: grid;
    justify-items: center;
    align-content: center;
}
.box{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "good good box-2"
        "good good box-3";
}
.menu{
    margin-bottom: 40px;
}
.menu a{
    background:yellowgreen;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    color: #333;
    font-size: 20px;
    font-family: cursive;
}
.price{
    font-size: 60px;
    font-weight: 300;
    margin: 0;
}
.good{
    grid-area: good;
    background: white url(https://jolly-kalam-23776e.netlify.app/restaurantwebsite/images/taco.jpg);
    min-height: 400px;
    display: flex;
    padding: 55px;
    flex-direction: column;
    align-items: flex-start;
    background-position: bottom right;
    background-size: cover;
    justify-content: center;
}
#menu-item{
    display: grid;
    grid-gap: 8px;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px ,1fr));
    padding: 0;
}
.good :first-child{
    background-color: yellowgreen;
}
.good :last-child{
    background-color: yellowgreen;
}